$primary-color: #df2f27 !default;
$second-color: #d6aa4d !default;

$light-color: #f4f4f4 !default;
$danger-color: #d50000 !default;
$success-color: #1b5e20 !default;
$grey-color: #8a8a8a !default;
$white-color: #fff !default;
$container-width: 1700px;
